*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "miFuente";
  src: url("../fuentes/openSans.ttf");
}

html {
  font-family: miFuente;
  font-size: 100%;
}

body {
  background: #e0e8f8;
  font-size: 100%;
}

.contenedorGeneral {
  width: 50%;
  height: 100vh;
  margin: auto;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.contenedorCabecera {
  background: yellow;
  height: 20%;
  display: flex;
}

.contenedorLogo {
  width: 40%;
  background: silver;
}

.contenedorControles {
  width: 60%;
  background: green;
  display: flex;
  flex-direction: column;
}

.contenedorSelect {
  height: 50%;
  background: greenyellow;
}

.contenedorBusqueda {
  height: 50%;
  background: orchid;
}

.contenedorResultados {
  background: cyan;
  height: 80%;
}

/* ------------------------------------- */
/* ESTILOS PARA DISPOSITIVOS MOVILES
/* ------------------------------------- */
/* Tablet
/* ------------------------------------- */
@media (max-width: 959px) {
  /* estilos para dispositivos con anchura de pantalla <= 959 píxeles */
}


/* ------------------------------------- */
/* Celular
/* ------------------------------------- */
@media (max-width: 479px) {
  /* estilos para dispositivos con anchura de pantalla <= 479 píxeles */
  .contenedorGeneral {
    width: 95%;
    margin: 5px auto;
  }
}

